*{
  font-family: "poppins",sans-serif;
}

.user-view-wrapper{
  padding:50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  gap:50px;
}
.user-card{
  width:100%;
  max-height:350px;
  min-height: 350px;
  place-items: center;
  display:grid;
  grid-auto-flow: column;
  padding:20px;
  border-radius: 20px;
  gap:30px;
  background: url('../images/bg.jpg');
  background-size: cover;
  background-blend-mode: color;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 6px 6px rgba(255, 0, 0, 0.3);


}
.user-card>img{
  width:150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 4px solid white;
}
.card-inner-wrapper{
  background:rgba(0,0,0,0.6);
  min-width:200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding:20px;
  border-radius: 20px;;
  gap:10px;
  color:white;
}
.bold{
  font-weight: 900;
  color:purple;
  color:red;
  font-size: 1.2rem;
}
.text{
  
}